.cad {
  max-width: 300px;
  margin: 50px auto; /* Adicione margens superior e inferior de 50px e centralize horizontalmente */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cad h1 {
  text-align: center;
  color: #333;
}

.cad label {
  display: block;
  margin: 10px 0;
  color: #555;
}

.cad input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.cad button {
  background-color: var(--col1);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.cad button:hover {
  background-color: var(--col2);
}

.login-link {
  margin-top: 10px;
  font-size: 14px;
  color: #888; 
  text-align: center;
}

.login-link a {
  color: #3498db; 
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
