.allproducts{
    display: flex;
    flex-direction: column;
    width: 78%;
}

.allproducts h1{
    font-size: 30px;
    text-align: center;
    color: var(--col1);
    border-bottom: 2px solid var(--col1);
}

.allproducts .products{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
