.categorysidebar .category img{
    width: 40px;
    height: 40px;
}

.categorysidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    /*border: 1px solid #ccc;*/
}

.categorysidebar .category{
    display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 90px;
    border-style: calc(100% - 20px);
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.categorysidebar .category:hover{
    background-color: #a18eca;
    cursor: pointer;
}

.categorysidebar .category h3{
    /*margin: 0px 20px;*/
    font-size: 18px;
    padding: 0px;
}

