
.categorysidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.category {
    display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 8px; /* Reduzi a borda para torná-la menos arredondada */
    padding: 10px 20px;
    margin-bottom: 10px; /* Adicionei margem inferior para separar as categorias */
    transition: background-color 0.3s ease; /* Adicionada transição suave de cor ao passar o mouse */
}

.category:hover {
    background-color: #a18eca;
    cursor: pointer;
}

.category img {
    width: 40px;
    height: 40px;
    margin-right: 10px; /* Adicionei margem à direita para separar a imagem do texto */
}

.category h3 {
    font-size: 18px;
    margin: 0;
}

.category-link {
    text-decoration: none;
    color: inherit;
}
