.footer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*padding: 20px 0px;*/
    background-color: rgb(240, 240, 240);
    /*height: 350px;*/
    margin-top: 30px;
    overflow: hidden;
}

.footer1 .left{
    width: 45%;
}

.footer1 .left img{
    width: 100%;
}

.footer1 .right{
    width: 45%;
}